body{
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(138,77,2,1) 12.5%, rgba(188,173,1,1) 25%, rgba(65,255,0,1) 37.5%, rgba(2,122,123,1) 50%, rgba(2,22,147,1) 62.5%, rgba(83,2,84,0.9862385321100917) 75%, rgba(164,2,109,1) 87.5%, rgba(179,236,223,1) 100%);
}

h3{
    font-size: 30px !important;
}

.btn-success:hover{
    background-color: rgba(0, 132, 255, 1);
}

canvas{
    animation-name: colorchange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 2px dotted white;
}

@keyframes colorchange{
    from{box-shadow: 1px 1px 38px royalblue;}
    to{box-shadow: 1px 1px 38px red;}
}